Bin/
botCrypter/Debug/
botCrypter/Release/
botCrypter/GeneratedFiles/
Crypter/Debug/
Crypter/Release/
guiCrypter/Debug/
guiCrypter/GeneratedFiles/
libCrypter/Debug/
libCrypter/Release/

*.opensdf
*.sdf
*.suo
*.user